Source/Platform/Service References/CodeFlow.Review/ReviewService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://codeflow/Services/ReviewService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" />
  <xs:import schemaLocation="http://codeflow/Services/ReviewService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetActiveReviewsForReviewer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewerLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForReviewerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetActiveReviewsForReviewerResult" nillable="true" type="q1:ArrayOfCodeReviewSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectShortName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetActiveReviewsForProjectResult" nillable="true" type="q2:ArrayOfCodeReviewSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetActiveReviewsForAuthorResult" nillable="true" type="q3:ArrayOfCodeReviewSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="author" nillable="true" type="q4:Author" />
        <xs:element minOccurs="0" name="reviewName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectShortName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="CreateReviewResult" nillable="true" type="q5:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="PublishReviewResult" nillable="true" type="q6:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="CompleteReviewResult" nillable="true" type="q7:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="ExpireReviewResult" nillable="true" type="q8:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="WithdrawReviewResult" nillable="true" type="q9:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReactivateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReactivateReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuditLogEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arguments" nillable="true" type="q10:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuditLogEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customDataToSet" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="workItems" nillable="true" type="q12:ArrayOfWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetReviewResult" nillable="true" type="q13:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currRevision" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="CheckUpdatesResult" type="q14:ReviewUpdateCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PokeReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PokeReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="codePackage" nillable="true" type="q15:CodePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="AddCodePackageResult" nillable="true" type="q16:CodePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCodePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codePackageName" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="codePackage" nillable="true" type="q17:CodePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCodePackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCodePackageStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codePackageName" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q18:CodePackageStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCodePackageStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="comment" nillable="true" type="q19:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="AddCommentResult" nillable="true" type="q20:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCommentThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="thread" nillable="true" type="q21:CommentThread" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCommentThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="StartCommentThreadResult" nillable="true" type="q22:CommentThread" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawCommentThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="threadId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawCommentThreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentThreadStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="threadId" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q23:CommentThreadStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentThreadStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currRevision" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetReviewCommentsResult" nillable="true" type="q24:ArrayOfCommentThread" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReviewers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="reviewers" nillable="true" type="q25:ArrayOfReviewer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReviewersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReviewers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reviewerNames" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReviewersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewerStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reviewerName" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q27:ReviewerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewerStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthorStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q28:AuthorStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthorStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorPing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorPingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>