Source/Platform/Service References/CodeFlow.Project/ProjectService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://codeflow/Services/ProjectService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfProjectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectInfo" nillable="true" type="tns:ArrayOfProjectInfo" />
  <xs:complexType name="ProjectInfo">
    <xs:sequence>
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Owners" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Retiring" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
  <xs:complexType name="ProjectQuery">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConfigContains" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayNameContains" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExtensionConnectionStringContains" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Retiring" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortNameContains" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceControlConnectionStringContains" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAfterDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBeforeDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdatedAfterDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdatedBeforeDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectQuery" nillable="true" type="tns:ProjectQuery" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element name="AccessSecurityGroup" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Configuration" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="DefaultOptionalReviewers" nillable="true" type="q4:ArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="DefaultRequiredReviewers" nillable="true" type="q5:ArrayOfstring" />
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element name="Enabled" type="xs:boolean" />
      <xs:element name="Owner" nillable="true" type="xs:string" />
      <xs:element name="Retiring" type="xs:boolean" />
      <xs:element name="ShortName" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="SourceControlConnectionStrings" nillable="true" type="q6:ArrayOfstring" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="extensionConnectionStrings" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdatedOn" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
</xs:schema>