Source/Platform/Service References/CodeFlow.Project/ProjectService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.microsoft.com/codeflow/" elementFormDefault="qualified" targetNamespace="http://www.microsoft.com/codeflow/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://codeflow/Services/ProjectService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="CreatedOn" type="xs:dateTime" />
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="LastUpdatedOn" type="xs:dateTime" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Settings" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>