Source/Platform/Service References/CodeBox.Directory/DirectoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://CodeBox/services/DirectoryService/v1.0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://CodeBox/services/DirectoryService/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CodeBox/services/DirectoryService/v1.0">
      <s:element name="GetEntries">
        <s:complexType />
      </s:element>
      <s:element name="GetEntriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntriesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroups">
        <s:complexType />
      </s:element>
      <s:element name="GetGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesByGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesByGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntriesByGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTags">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entryNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTagsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTagsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesByTags">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesByTagsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntriesByTagsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntryByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntryByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntryByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entryNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntriesByCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEntriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntries" />
  </wsdl:message>
  <wsdl:message name="GetEntriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntriesByGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntriesByGroup" />
  </wsdl:message>
  <wsdl:message name="GetEntriesByGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntriesByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetTagsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTags" />
  </wsdl:message>
  <wsdl:message name="GetTagsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTagsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntriesByTagsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntriesByTags" />
  </wsdl:message>
  <wsdl:message name="GetEntriesByTagsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntriesByTagsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntryByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntryByName" />
  </wsdl:message>
  <wsdl:message name="GetEntryByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntryByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntriesByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetEntriesByCategory" />
  </wsdl:message>
  <wsdl:message name="GetEntriesByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetEntriesByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="DirectoryServiceSoap">
    <wsdl:operation name="GetEntries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all of the entries for the current site. Only published
        and non-group entries are returned. The raw data to calculate activity and popularity
        are included in the DataSet object.</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesSoapIn" />
      <wsdl:output message="tns:GetEntriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all of the groups for the current site. Only published
        and group entries are returned. The raw data to calculate activity and popularity
        are included in the DataSet object.</wsdl:documentation>
      <wsdl:input message="tns:GetGroupsSoapIn" />
      <wsdl:output message="tns:GetGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all of the entries for the given group entry. 
        The raw data to calculate activity and popularity are included in the DataSet object.</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesByGroupSoapIn" />
      <wsdl:output message="tns:GetEntriesByGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet with all the tags that have been 
        entered for the entries matching the names given. An empty string array returns 
        all the tags for all entries in the directory. Each row in the DataSet will 
        contain project, tag, and the number of users applying the tag to the project.
        </wsdl:documentation>
      <wsdl:input message="tns:GetTagsSoapIn" />
      <wsdl:output message="tns:GetTagsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByTags">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all the entries that have been labeled 
        with the tags provided. This is the union of the given tags and not the 
        intersection. So searching by two tags will find the entries that have either 
        of the two tags. An empty string array will return no entries. The DataSet 
        returned is otherwise identical to the one returned by GetEntries. 
        </wsdl:documentation>
      <wsdl:input message="tns:GetEntriesByTagsSoapIn" />
      <wsdl:output message="tns:GetEntriesByTagsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntryByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get entry data for the provided entry name. Only published
        and non-group entries are returned. The raw data to calculate activity and popularity
        are included in the DataSet object.  Data is returned in the same format as GetEntries()</wsdl:documentation>
      <wsdl:input message="tns:GetEntryByNameSoapIn" />
      <wsdl:output message="tns:GetEntryByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all categories assigned to each entry specified.
         The DataSet returned contains two columns: entryname and category.  A single entry
         may have many categories assigned, and thus multiple rows in the DataSet</wsdl:documentation>
      <wsdl:input message="tns:GetCategoriesSoapIn" />
      <wsdl:output message="tns:GetCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByCategory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets entries that are assigned at least one of the provided
        category names. Only published and non-group entries are returned. The raw data to calculate activity and popularity
        are included in the DataSet object.  Data is returned in the same format as GetEntries()</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesByCategorySoapIn" />
      <wsdl:output message="tns:GetEntriesByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns true as a simple verfication that your client can do 
        the following: connect, negotiate authentication protocols, able to use windows 
        integrated authentication, and be authorized by the current NTFS permissions on the site.
        Make sure that your .NET based clients set the Credentials property on the service 
        wrapper to System.Net.CredentialCache.DefaultNetworkCredentials otherwise you will 
        get 401.2 errors.</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectoryServiceSoap" type="tns:DirectoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEntries">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByGroup">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntriesByGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByTags">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntriesByTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntryByName">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntryByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByCategory">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntriesByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DirectoryServiceSoap12" type="tns:DirectoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEntries">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByGroup">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntriesByGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByTags">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntriesByTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntryByName">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntryByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByCategory">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/GetEntriesByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://CodeBox/services/DirectoryService/v1.0/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectoryService">
    <wsdl:port name="DirectoryServiceSoap" binding="tns:DirectoryServiceSoap">
      <soap:address location="http://codebox/services/DirectoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="DirectoryServiceSoap12" binding="tns:DirectoryServiceSoap12">
      <soap12:address location="http://codebox/services/DirectoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>