Source/Platform/Service References/Kudos.Domain/Kudos-WCFService-KudosDomainService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kudos/Services/Kudos-WCFService-KudosDomainService.svc?xsd=xsd3" namespace="DomainServices" />
  <xs:import schemaLocation="http://kudos/Services/Kudos-WCFService-KudosDomainService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Kudos.WCFService" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingLogging">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingLoggingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingLoggingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamHistoryForManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplyeeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamHistoryForManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="DomainServices" minOccurs="0" name="GetTeamHistoryForManagerResult" nillable="true" type="q1:QueryResultOfKudosTeamHistoryReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamHistoryForManagerDirectsOnly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplyeeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamHistoryForManagerDirectsOnlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="DomainServices" minOccurs="0" name="GetTeamHistoryForManagerDirectsOnlyResult" nillable="true" type="q2:QueryResultOfKudosTeamHistoryReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployeesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameSearchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployeesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="DomainServices" minOccurs="0" name="SearchEmployeesByNameResult" nillable="true" type="q3:QueryResultOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByAlias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByAliasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="DomainServices" minOccurs="0" name="GetEmployeeByAliasResult" nillable="true" type="q4:QueryResultOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metricTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackMetricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackMetricResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosSummaryForCurrentUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosSummaryForCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="GetKudosSummaryForCurrentUserResult" nillable="true" type="q5:KudosSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosSummaryForEmployeeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosSummaryForEmployeeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="GetKudosSummaryForEmployeeIdResult" nillable="true" type="q6:KudosSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="GetKudosSummaryResult" nillable="true" type="q7:KudosSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosReceivedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="GetKudosReceivedResult" nillable="true" type="q8:ArrayOfKudosHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosSent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosSentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="GetKudosSentResult" nillable="true" type="q9:ArrayOfKudosHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendKudos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendKudosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendKudosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="DomainServices" minOccurs="0" name="GetPictureResult" nillable="true" type="q10:QueryResultOfPicture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKudosMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kudosId" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKudosMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateKudosMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKudos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kudosId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKudosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteKudosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklyUsageHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklyUsageHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="GetWeeklyUsageHistoryResult" nillable="true" type="q11:ArrayOfKudosWeeklyUsageHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalKudos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalKudosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalKudosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="GetPersonInfoResult" nillable="true" type="q12:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKudosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="GetKudosResult" nillable="true" type="q13:ArrayOfKudosInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Kudos.WCFService" minOccurs="0" name="mailObject" nillable="true" type="q14:MailObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendKudosEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kudosId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendKudosEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResendKudosEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKudosAndSendEmailMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromEmployeeId" type="xs:int" />
        <xs:element minOccurs="0" name="toEmployeeId" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKudosAndSendEmailMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEmployeeOptedOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEmployeeOptedOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasEmployeeOptedOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptOutFromKudos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OptOutFromKudosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OptInIntoKudos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OptInIntoKudosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>