Source/Platform/Service References/CodeFlow.Discovery/DiscoveryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://codeflow/Services/DiscoveryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" />
  <xs:element name="Discover">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscoverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="DiscoverResult" nillable="true" type="q1:Discovery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>