Source/Platform/Service References/CodeBox.UserEvent/UserEventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://CodeBox/services/UserEventService/v1.0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://CodeBox/services/UserEventService/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CodeBox/services/UserEventService/v1.0">
      <s:element name="GetAllEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEventsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsForUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="userNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEventsForUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsForUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsForEntries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="entryNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsForEntriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsForEntriesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="GetAllEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventsForUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventsForUsers" />
  </wsdl:message>
  <wsdl:message name="GetEventsForUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventsForUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventsForEntriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventsForEntries" />
  </wsdl:message>
  <wsdl:message name="GetEventsForEntriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventsForEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="UserEventServiceSoap">
    <wsdl:operation name="GetAllEvents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all events that occurred after the specified start date.</wsdl:documentation>
      <wsdl:input message="tns:GetAllEventsSoapIn" />
      <wsdl:output message="tns:GetAllEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsForUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all events caused by actions performed by the specified users after the specified start date.</wsdl:documentation>
      <wsdl:input message="tns:GetEventsForUsersSoapIn" />
      <wsdl:output message="tns:GetEventsForUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsForEntries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all events affecting the specified CodeBox projects or ToolBox tools after the specified start date.</wsdl:documentation>
      <wsdl:input message="tns:GetEventsForEntriesSoapIn" />
      <wsdl:output message="tns:GetEventsForEntriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns true as a simple verfication that your client can do 
        the following: connect, negotiate authentication protocols, able to use windows 
        integrated authentication, and be authorized by the current NTFS permissions on the site.
        Make sure that your .NET based clients set the Credentials property on the service 
        wrapper to System.Net.CredentialCache.DefaultNetworkCredentials otherwise you will 
        get 401.2 errors.</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserEventServiceSoap" type="tns:UserEventServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://CodeBox/services/UserEventService/v1.0/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForUsers">
      <soap:operation soapAction="http://CodeBox/services/UserEventService/v1.0/GetEventsForUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForEntries">
      <soap:operation soapAction="http://CodeBox/services/UserEventService/v1.0/GetEventsForEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://CodeBox/services/UserEventService/v1.0/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserEventServiceSoap12" type="tns:UserEventServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEvents">
      <soap12:operation soapAction="http://CodeBox/services/UserEventService/v1.0/GetAllEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForUsers">
      <soap12:operation soapAction="http://CodeBox/services/UserEventService/v1.0/GetEventsForUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForEntries">
      <soap12:operation soapAction="http://CodeBox/services/UserEventService/v1.0/GetEventsForEntries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://CodeBox/services/UserEventService/v1.0/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserEventService">
    <wsdl:port name="UserEventServiceSoap" binding="tns:UserEventServiceSoap">
      <soap:address location="http://codebox/Services/UserEventService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserEventServiceSoap12" binding="tns:UserEventServiceSoap12">
      <soap12:address location="http://codebox/Services/UserEventService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>