Source/Platform/Service References/CodeFlow.Dashboard/Dashboard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Dashboard" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tk5cdflwiis02/DashboardService/DashboardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tk5cdflwiis02/DashboardService/DashboardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tk5cdflwiis02/DashboardService/DashboardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" />
      <xsd:import schemaLocation="http://tk5cdflwiis02/DashboardService/DashboardService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReviewDashboardService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IReviewDashboardService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewDashboardService_QueryReviewSummaries_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryReviewSummaries" />
  </wsdl:message>
  <wsdl:message name="IReviewDashboardService_QueryReviewSummaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryReviewSummariesResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewDashboardService_QueryReviewSummaries_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IReviewDashboardService_QueryReviewIds_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryReviewIds" />
  </wsdl:message>
  <wsdl:message name="IReviewDashboardService_QueryReviewIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryReviewIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewDashboardService_QueryReviewIds_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IReviewDashboardService">
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewDashboardService/Query" message="tns:IReviewDashboardService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewDashboardService/QueryResponse" message="tns:IReviewDashboardService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryReviewSummaries">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewDashboardService/QueryReviewSummaries" message="tns:IReviewDashboardService_QueryReviewSummaries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewDashboardService/QueryReviewSummariesResponse" message="tns:IReviewDashboardService_QueryReviewSummaries_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReviewDashboardService/QueryReviewSummariesServiceFaultFault" name="ServiceFaultFault" message="tns:IReviewDashboardService_QueryReviewSummaries_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryReviewIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewDashboardService/QueryReviewIds" message="tns:IReviewDashboardService_QueryReviewIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewDashboardService/QueryReviewIdsResponse" message="tns:IReviewDashboardService_QueryReviewIds_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReviewDashboardService/QueryReviewIdsServiceFaultFault" name="ServiceFaultFault" message="tns:IReviewDashboardService_QueryReviewIds_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReviewDashboardService" type="tns:IReviewDashboardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IReviewDashboardService/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryReviewSummaries">
      <soap:operation soapAction="http://tempuri.org/IReviewDashboardService/QueryReviewSummaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryReviewIds">
      <soap:operation soapAction="http://tempuri.org/IReviewDashboardService/QueryReviewIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dashboard">
    <wsdl:port name="BasicHttpBinding_IReviewDashboardService" binding="tns:BasicHttpBinding_IReviewDashboardService">
      <soap:address location="http://tk5cdflwiis02/DashboardService/DashboardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>