Source/Platform/Service References/CodeFlow.Dashboard/DashboardService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tk5cdflwiis02/DashboardService/DashboardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" />
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="query" nillable="true" type="q1:CodeReviewQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="QueryResult" nillable="true" type="q2:CodeReviewQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryReviewSummaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="query" nillable="true" type="q3:CodeReviewQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryReviewSummariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="QueryReviewSummariesResult" nillable="true" type="q4:QueryReviewSummariesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryReviewIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="query" nillable="true" type="q5:CodeReviewQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryReviewIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="QueryReviewIdsResult" nillable="true" type="q6:QueryReviewIdsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>